@charset "UTF-8";

.carousel-inner img {
	width: 100%;
	height: 100%;
<<<<<<< HEAD
	margin-top: 50px;
	margin-bottom: 10px;
=======
	margin-bottom: 15px;
>>>>>>> c2f2a6fbe0cc12547d7201f74cd377ea94314f8e
}

.carousel slide {
	width: 800px;
	height: 700px;
}

.carousel-inner span {
	width: 22%;
	height: 300px;
	display: inline-block;
	
}

/* 	
.att {
	text-align: left;
	vertical-align: top;
	width: 300px;
}
	 */
/* 
h3 {
	width: 150px;
}
 */
 
/* 
h2 {
	margin-bottom: 70px;
} */

h4, h5{
	font-weight: bold;
}

#mycarousel2{
	margin-bottom: 100px;
}

#l1 {
    float: left;
    display: inline-block;
    width: 25%;
    margin-top: 0;
    margin-bottom: 230px;
	 /* grid-column: 1/5; */
}

#l2 {
	float: left;
	display: inline-block;
	width: 20%;
	margin-top: 0;
	margin-bottom: 240px;
	 /* grid-column: 1/5; */
}

#l3 {
	float: left;
	display: inline-block;
	width: 20%;
	margin-top: 0;
	margin-bottom: 250px;
	 /* grid-column: 1/5; */
}

.carousel-inner {
	float: right;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 75%;
}

.carousel-inner span {
	width: 30%;
	padding: 10px;
<<<<<<< HEAD
=======
	padding-bottom: 80px !important;
>>>>>>> c2f2a6fbe0cc12547d7201f74cd377ea94314f8e
}

.carousel-indicators{
    width: 80px;
    margin: 0 auto;
    bottom: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-indicators li{
	    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    
	    border-top: 0;
}

.hgr1{
	padding-top: 20px;
	
}
.fgdfe1{
	padding-bottom: 20px;
    border-bottom: 1px solid #666;
    margin-bottom: 50px;
	
}
.rfg1{
	    letter-spacing: -1px;
    font-family: 'Nanum Gothic' !important;
}

.mghg1{
    letter-spacing: -2px;
    background: #f59421;
    padding: 15px 30px;
    color: #fff !important;
    margin-top: 20px;
    display: inline-block;

}

.carousel-indicators .active{
    opacity: 1;
    width: 50px;
	
}

.hgf0321{
	
	text-align: center !important;
}

body{
	text-align: left;
}

#plz{
	display: block;
	flex: justify-content;
}

*, ::after, ::before {
    box-sizing: content-box;
}

*{
	text-align: left !important;
}